.block {
  padding: 0 20px;


  p {
    font-size: 16px;
    line-height: 22px;
  }

  a {
    color: var(--color-link);
  }
}

.phones {
  display: flex;

  div:last-child span {
    display: none;
  }
}
