.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  transition: 400ms;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &.disable {
    pointer-events: none;
    opacity: .6;
  }
}

.button {
  margin: 10px auto 30px;
  max-width: 160px;
  width: 100%;
}

